<!-- Google Analytics -->

<!-- /Google Analytics -->


<!-- >> JAVASCRIPT
============================================================================== -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- /Bootstrap -->
<!-- Form Validator -->
<script src="vendor/validate.js"></script>
<!-- /Form Validator -->
<!-- Crossbrowser-->
<script src="js/cross-browser.js"></script>
<!-- /Crossbrowser-->
<!-- Fontsmoothie-->
<script src="vendor/fontsmoothie.min.js"></script>
<!-- /Fontsmoothie-->
<!-- Images Loaded -->
<script src="vendor/imagesloaded.pkgd.min.js"></script>
<!-- / Images Loades -->
<!-- Mansonry-->
<script src="vendor/masonry.pkgd.min.js"></script>
<!-- /mansonry-->
<!-- Count To-->
<script src="vendor/count-to.js"></script>
<!-- /Count To-->
<!-- Isotope -->
<script src="vendor/isotope.pkgd.min.js"></script>
<!-- /Isotope-->
<!-- Waypoints -->
<script src="vendor/waypoints.min.js"></script>
<!-- /Waypoints -->
<!-- Holder -->
<script src="vendor/holder.js"></script>
<!-- /Holder -->
<!-- Cycle -->
<script src="vendor/cycle2.js"></script>
<!-- /Cycle -->
<!-- Owl Caroulsel -->
<script src="vendor/owl.carousel/owl-carousel/owl.carousel.js"></script>
<!-- /Owl Caroulsel -->
<!-- Placeholders for IE-->
<script src="vendor/placeholders.jquery.min.js"></script>
<!-- /Placeholders for IE -->
<!-- Main Javascript -->
<script src="js/main.js"></script>
<!-- /Main Javascript -->

<!--[if lte IE 8]> <script type="text/javascript" src="http://lab.momm.com.br/atualizzr/chromelab.js"></script> <![endif]-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="vendor/html5shiv.js"></script>
	<script src="vendor/respond.min.js"></script>
<![endif]-->

<!-- >> /JAVASCRIPT
============================================================================= -->
</body>
</html>